In [52]:
import pandas as pd
import matplotlib .pyplot as plt

athletes = pd.read_csv("../data/athlete_events.csv")
region = pd.read_csv("../data/noc_regions.csv")

region.head()

athletes.head()

merged = pd.merge(athletes, region, on="NOC", how="outer")   #"outer" för att inte tappa någon data från atbellerna. saknade värden fylls med NaN

merged.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
271112,130832.0,Hillary Wilson,F,15.0,157.0,65.0,Zimbabwe,ZIM,1960 Summer,1960.0,Summer,Roma,Swimming,Swimming Women's 100 metres Butterfly,NaN,Zimbabwe,NaN
271113,130832.0,Hillary Wilson,F,15.0,157.0,65.0,Zimbabwe,ZIM,1960 Summer,1960.0,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN,Zimbabwe,NaN
271114,130880.0,Peter Arthur Wilson,M,20.0,185.0,80.0,Zimbabwe,ZIM,1980 Summer,1980.0,Summer,Moskva,Sailing,Sailing Mixed One Person Dinghy,NaN,Zimbabwe,NaN
271115,131478.0,"Jennifer ""Jenny"" Wood",F,16.0,172.0,64.0,Zimbabwe,ZIM,1964 Summer,1964.0,Summer,Tokyo,Swimming,Swimming Women's 100 metres Butterfly,NaN,Zimbabwe,NaN
271116,135497.0,Lloyd Zvasiya,M,23.0,190.0,80.0,Zimbabwe,ZIM,2004 Summer,2004.0,Summer,Athina,Athletics,Athletics Men's 400 metres,NaN,Zimbabwe,NaN

In [15]:
#skapa tabeller för NOC. KOntrollera om det finns unika värden ej kopplade till länder.
# Vi använder .unique() för att hämta alla unika NOC-koder från kolumnen 
# (utan dubbletter, i samma ordning som de förekommer i datan).
# Sedan gör vi om resultatet till ett set() för att kunna jämföra mängder
# mellan tabeller (t.ex. hitta NOC-koder som saknas i regions-filen).
# Kombinationen ger en effektiv och tydlig jämförelse av unika värden.

athlete_nocs = set(athletes["NOC"].unique())
region_nocs = set(region["NOC"].unique())

missing_nocs = athlete_nocs - region_nocs

missing_nocs

{'SGP'}

"SGP" = singapore saknas i region_nocs. Varför?
testar tvärtom:

In [50]:
missing_nocs = athlete_nocs - region_nocs

missing_nocs

{'SGP'}

"SIN" - Är det också för Singapore? saknas i athlete_nocs - skrivit fel landskod?
Our NOC code is now "SGP" instead of "SIN". In line with the United Nations (UN) / International Organisation for Standardisation (ISO) official 3-letter country code, the International Olympic Committee (IOC) has approved SNOC’s application to change our NOC code from “SIN” to “SGP”.  The IOC database has been modified and this new “SGP” code will be reflected on the IOC website and in future Games. The first major Games which the code will take effect would be at the Sapporo 2017 Asian Winter Games.

källa: https://www.facebook.com/KaratedoSingapore/posts/its-official-singapore-noc-code-is-now-sgp/1862016390693056/

intresserad av att se om alla atleter tävlat för ett land

In [26]:
no_country = merged[merged["region"].isna()]      #villkor inom [] på DF får endast de rader som är True.
                                                  # lägg till filtret: Ta alla rader i merged där kolumnen region saknas (NaN).
                                                  #true filter som en ny overheadfilm ovanpå en som redan ligge i apparaten. bara True syns.
                                                  # Båda syns men bara den ena är originalet.

no_country.head()

no_country["NOC"].unique()

array(['ROT', 'SGP', 'TUV', 'UNK'], dtype=object)

ROT = Refugee Olympics Team
SGP = Singapore after 2016
TUV = Tuvalu
UNK = UnKnown

In [27]:
merged[merged["NOC"].isin(['ROT', 'SGP', 'TUV', 'UNK'])]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
198447,3515.0,Paulo Amotun Lokoro,M,24.0,170.0,61.0,Refugee Olympic Athletes,ROT,2016 Summer,2016.0,Summer,Rio de Janeiro,Athletics,"Athletics Men's 1,500 metres",NaN,NaN,Refugee Olympic Team
198448,4379.0,Rami Anis,M,25.0,178.0,78.0,Refugee Olympic Athletes,ROT,2016 Summer,2016.0,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Freestyle,NaN,NaN,Refugee Olympic Team
198449,4379.0,Rami Anis,M,25.0,178.0,78.0,Refugee Olympic Athletes,ROT,2016 Summer,2016.0,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,NaN,NaN,Refugee Olympic Team
198450,11364.0,Yiech Pur Biel,M,21.0,178.0,62.0,Refugee Olympic Athletes,ROT,2016 Summer,2016.0,Summer,Rio de Janeiro,Athletics,Athletics Men's 800 metres,NaN,NaN,Refugee Olympic Team
198451,16287.0,Mabika Yolande Bukasa,F,28.0,170.0,70.0,Refugee Olympic Athletes,ROT,2016 Summer,2016.0,Summer,Rio de Janeiro,Judo,Judo Women's Middleweight,NaN,NaN,Refugee Olympic Team
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238054,86663.0,Tavevele Noa,M,20.0,176.0,74.0,Tuvalu,TUV,2012 Summer,2012.0,Summer,London,Athletics,Athletics Men's 100 metres,NaN,NaN,Tuvalu
238055,120422.0,Etimoni Timuani,M,24.0,184.0,72.0,Tuvalu,TUV,2016 Summer,2016.0,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,NaN,NaN,Tuvalu
238056,120439.0,Okilani Tinilau,M,19.0,NaN,NaN,Tuvalu,TUV,2008 Summer,2008.0,Summer,Beijing,Athletics,Athletics Men's 100 metres,NaN,NaN,Tuvalu
241143,31292.0,Fritz Eccard,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912.0,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN,NaN,Unknown
241144,65813.0,A. Laffen,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912.0,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN,NaN,Unknown

UNK - Fritz Eccard och A. Laffen - art competitons :
"The names of the 1912 Olympic art competitors mostly derive from an anonymous piece of paper in the IOC archives. Although deciphered by Richard Stanton, not all of the names have been matched to known architects, notably Laffen and Eccard."

källa: https://www.olympedia.org/results/920000

Note to self! femte moderna olympiska spelen i Stockholm -solskensspelen. Samma år som Titanic sjönk - balkam kriget mot Osmanska riket startade och blev upptakten till första världskriget.

Tillbaka till uppgiften!
Australien!
Kolla vinterspelen! Skidåkaren som vann guld (alla andra föll)
kolla autralasien!
Kolla os 1956 i Melbourne. hur påverkades resultaten i ridsport av att de trots os i hemland fick ha ridsporterna i Stockholm p.g.a. inreserestriktioner för djur?
Glöm inte! Australien har tävlat tillsammans med Nya Zeeland som Australasia = NOC = ANZ (?)

Städa, städa, städa!!

In [ ]:


australia.head()australia = merged[merged["NOC"].isin(["AUS", "ANZ"])]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
1395,1537.0,William Victor Aitken,M,19.0,NaN,NaN,Australasia,ANZ,1908 Summer,1908.0,Summer,London,Athletics,Athletics Men's Marathon,NaN,Australia,Australasia
1396,7037.0,"Reginald Leslie ""Snowy"" Baker",M,24.0,178.0,NaN,Australasia,ANZ,1908 Summer,1908.0,Summer,London,Diving,Diving Men's Springboard,NaN,Australia,Australasia
1397,7037.0,"Reginald Leslie ""Snowy"" Baker",M,24.0,178.0,NaN,Australasia,ANZ,1908 Summer,1908.0,Summer,London,Boxing,Boxing Men's Middleweight,Silver,Australia,Australasia
1398,7037.0,"Reginald Leslie ""Snowy"" Baker",M,24.0,178.0,NaN,Australasia,ANZ,1908 Summer,1908.0,Summer,London,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,NaN,Australia,Australasia
1399,7980.0,John Thomas Barnett,M,28.0,NaN,NaN,Australasia,ANZ,1908 Summer,1908.0,Summer,London,Rugby,Rugby Men's Rugby,Gold,Australia,Australasia

In [ ]:
australia = merged[(merged["NOC"].isin(["AUS", "ANZ"]) & (merged["City"] == "Melbourne"))]
# [] för att välja rader / kolumner
#() gruppera villkor
australia =

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
5086,692.0,"James Dudley ""Jim"" Achurch",M,28.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Athletics,Athletics Men's Javelin Throw,NaN,Australia,NaN
5116,1489.0,Alexander Michael Hirst Aikman,M,23.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Rowing,Rowing Men's Coxed Eights,Bronze,Australia,NaN
5144,2858.0,"Ian Graeme Keith ""Mick"" Allen",M,18.0,190.0,84.0,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Rowing,Rowing Men's Coxed Fours,NaN,Australia,NaN
5162,2928.0,"Edward James ""Ted"" Allsopp",M,30.0,179.0,80.0,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Athletics,Athletics Men's 20 kilometres Walk,NaN,Australia,NaN
5163,2928.0,"Edward James ""Ted"" Allsopp",M,30.0,179.0,80.0,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Athletics,Athletics Men's 50 kilometres Walk,NaN,Australia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12591,131487.0,"Mervyn Thomas ""Merv"" Wood",M,39.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Rowing,Rowing Men's Double Sculls,Bronze,Australia,NaN
12613,131524.0,"Margaret Joy ""Marg"" Woodlock (-McLean)",F,18.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Athletics,Athletics Women's Shot Put,NaN,Australia,NaN
12650,131716.0,Maureen Faye Wright,F,17.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Athletics,Athletics Women's Javelin Throw,NaN,Australia,NaN
12651,131741.0,Ian Hamilton Wrigley,M,33.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN,Australia,NaN
12702,133868.0,Joseph John Zammit,M,23.0,NaN,NaN,Australia,AUS,1956 Summer,1956.0,Summer,Melbourne,Wrestling,"Wrestling Men's Heavyweight, Greco-Roman",NaN,Australia,NaN

In [ ]:
australia = merged[(merged["NOC"].isin(["AUS", "ANZ"))]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (389749429.py, line 1)